* {
    margin: 0;
    padding: 0;

}

body{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background: url("images/background2.jpg")  center / cover no-repeat fixed; 

}
.container{
    height: 95vh;
    width: 95vw;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 20px;
}
#title-buttons-and-info {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

#title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#logo {
    object-fit: cover;
    margin-right: 20px;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #e2e2e2;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

h1 {
    color: #6e00b3;
    margin-left: 10px;
}

.tab-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.tab-btn {
    background-color: #6e00b3;
    color: white;
    padding: 5px 10px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 7px;
    font-size: 15px;
}

.tab-btn:hover {
    background-color: #4b0082;
}

.v-btn {
    background-color: #4044c2;
    color: white;
    padding: 5px 10px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 7px;
    font-size: 15px;
}

.v-btn:hover {
    background-color: #88808f;
}

button:disabled {
    background-color: #2e014f;
    cursor: not-allowed;
}

.v-btn:disabled{
    background-color: #88808f;
    cursor: not-allowed;
}
.tab-content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    justify-content: center;
    margin-bottom: 0px;
}

.tab-content div span, .tab-content label, .tab-content input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #555;
    font-size: 12px;
}
.tab-content2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(219, 0, 0, 0.1);
    width: 100%;
    justify-content: center;
    margin-bottom: 0px;
}

.tab-content2 div span, .tab-content2 label, .tab-content2 input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color:  #f9f9f9;
    color: #555;
    font-size: 12px;
}

/* Estilos base para la sección de Real Time */
.location-info.tab-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    width: 65vw;
    max-width: 1200px;
}
.location-info.tab-content2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    width: 65vw;
    max-width: 1200px;
}

.info-item {
    display: flex;
    flex-direction: row;
    min-width: 180px;
    flex: 1;
    max-width: 220px;
}

.info-item span {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
}

/* Ajuste del mapa para que sea responsive */
#map-container {
    height: 70vh !important;
    width: 93vw !important;
    left: 20px;
    transition: height 0.3s ease;
    top:-25px
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 10px;
}


.tab-content span:nth-child(odd), .tab-content label {
    text-align: left;
}
.tab-content span:nth-child(even), .tab-content input {
    text-align: right;
}

.tab-content2 span:nth-child(odd), .tab-content2 label {
    text-align: left;
}
.tab-content2 span:nth-child(even), .tab-content2 input {
    text-align: right;
}
/* hmm */

#fetch-data, #fetch-location,#backToHistorics {
    justify-self: center; 
    padding: 5px 10px;
    background-color: #6e00b3 !important;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}
#playButton {
    justify-self: center; 
    padding: 5px 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
}
#toggleButton {
    justify-self: center; 
    padding: 5px 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}

/* Hover effect */
#toggleButton:hover, #stopButton:hover {
    background-color: #000000e3;
    color: #ffffff;
    transition: 0.3s;
}

/* Class to keep the button black after being clicked */
.button-active {
    background-color: #ffffffe3 !important;
    color: #000000 !important;
}
#fetch-data:hover, #fetch-location:hover, h3:hover, #backToHistorics:hover{
    background-color: #4b0082 !important;
    transition: 0.3s;
}

/* For Webkit browsers like Chrome, Safari, Edge */
/* 
 input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  background: linear-gradient(to right, purple 0%, purple var(--value), #ddd var(--value), #ddd 100%);
  border-radius: 5px;
}  */

/* input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid rgb(0, 255, 13);
  border-radius: 50%;
  cursor: pointer;
}  */

/*input[type="range"]::-moz-range-track { slide for progress*/
  /* width: 100%;
  height: 8px;
  background: linear-gradient(to right, purple 0%, purple var(--value), #ddd var(--value), #ddd 100%);
  border-radius: 5px;
} */


/* input[type="range"]::-ms-track {
  width: 100%;
  height: 8px;
  background: transparent;
  border-color: transparent;
  color: transparent;
} */

/* input[type="range"]::-ms-fill-lower {
  background: purple;
}

input[type="range"]::-ms-fill-upper {
  background: #ddd;
} */

/* input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 50%;
  cursor: pointer;
} */

input[type="range"] {
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    transition: background 0.15s ease-in-out;
  } 
  
  input[type="range"]::-moz-range-thumb { /*cursor*/
    width: 12px;
    height: 12px;
    background: #ffffff;
    border: 2px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
  }
  input[type="range"]::-moz-range-thumb:hover {
      background: #f0f0f0; /* Light grey background on hover */
      border: 2px solid #4b0082; /* Change border to purple */
      transform: scale(1.1); /* Slightly increase size */
    }

/* JavaScript to dynamically update the track color */
input[type="range"] {
  --value: 0%; /* default starting point */
}

 input[type="range"] { 
   background: linear-gradient(to right, #4b0082 0%, #4b0082 var(--value), #ddd var(--value), #ddd 100%); 
 } 

input[type="range"].slider {
  width: 130px;
  height: 0px;
  margin-top:7px;
  margin-bottom:7px;
}

.slider{
    display: flex;
    justify-content: center; /* Horizontally center the slider */
    align-items: center; /* Vertically center the slider */
    height: 100vh; /* Full viewport height to center vertically */
  }

#map-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 95vw;
    height: 78vh;
}

#map {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#dark-mode-switch {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1001;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #4b0082;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 1px;
}

.slider.round:before {
    border-radius: 50%;
} */

body.dark-mode {
    background-color: #282828;
    color: #e2e2e2;
}

body.dark-mode h1 {
    color: white; 
}

body.dark-mode .tab-content {
    background-color: #1e1e1e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

body.dark-mode .tab-content2 {
    background-color: #01035b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

body.dark-mode #fetch-data,
body.dark-mode #backToHistorics,
body.dark-mode #fetch-location {
    background-color: #4b0082;
    color: #fff;
}

body.dark-mode .tab-content span,
body.dark-mode .tab-content label,
body.dark-mode .tab-content input {
    background-color: #333;
    color: #e2e2e2;
}
body.dark-mode .tab-content2 span,
body.dark-mode .tab-content2 label,
body.dark-mode .tab-content2 input {
    background-color: #333;
    color: #e2e2e2;
}

body.dark-mode .pac-container {
    background-color: #282828;
    color: #EEE;
}
body.dark-mode .pac-item{
    color: #AAA;
    border-top: 1px solid #333;
}
body.dark-mode .pac-item-query {
    color: #EEE;
}
body.dark-mode .pac-item:hover {
    background-color: #333;
    color: #EEE;
}

body.dark-mode #map {
    box-shadow: 0 4px 8px rgba(1, 1, 1, 0.5);
}

body.dark-mode #dark-mode-toggle{
    background-color: #4b0082;
}

.gm-style .gm-style-iw-d::-webkit-scrollbar-track, 
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece,
.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-t::after,
.gm-style .gm-style-iw-tc::after { 
    background: #282828;
    background-color: #282828;
    color: white;
}

.gm-style .transit-container div {
    background-color: #282828;
}

.gm-ui-hover-effect>span {
    background-color: white;
}

.poi-info-window div, .poi-info-window a {
    background-color: #282828;
    color: white;
}

.pop-up-menu{
    height: 60px;
    width: 60px;
    background-color:#6e00b3;
    color: white;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    font-size: 2vw;
    text-align: center;
    border-radius: 20%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    
}
.pop-up-menu span{
    font-size: 28px;
}
.pop-up-menu:hover{
    background-color: #4b0082;
    transition-duration: 1s;
}

#location-history{
    z-index: 102;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 150px;
    margin-top: 5px;
    margin-left: 5px;

}

.info-item-historics-location{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}
.info-item-historics-location{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info-item-historics-location label{
width: 20%;
max-width: 100%;
min-width: 70px;
}
.info-item-historics-location input{
    width: 100%;
    min-width: 65%;
}

.submit-location-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

#location-history div{
    width: 100%;
    display: flex;
    flex-direction:row;
}
#close-popup-container{
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    text-align: center;
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#close-popup-container h3{
    width: 30px !important;
    height: 30px !important;
    background-color: #6e00b3;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#close-popup-container h3 :hover{
    background-color: #4b0082;
}

#pop-up-info{
    width: 80%;
}

@media screen and (max-width: 750px) {

    #realtime{
        width: 80%;
    }
}

/* Media query para pantallas menores a 650px */
@media screen and (max-width: 650px) {
    #location-history{
        width: 70%;
        }
    .location-info.tab-content {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .tab-content{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 80%;
    }
    .location-info.tab-content2 {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .tab-content2{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 80%;
    }

    .info-item {
        width: calc(50% - 10px); 
        max-width: 150px;
        justify-content: space-between;
        margin: 0 5px;
    }
    .info-item-historics{
        display: flex;
        width: 100%;
        max-width: 420px;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
    }
    .info-item-historics label {
        min-width: 120px;
    }
    .info-item-historics input {
        min-width: 205px;
    }
    .info-item:nth-child(3),
    .info-item:nth-child(4) {
        order: 1;
    }

    .info-item:nth-child(1),
    .info-item:nth-child(2) {
        order: 0;
    }
#map-container{
    height: 68vh !important;
}


}

@media screen and (max-width: 550px) {

    .info-item-historics-location{
        justify-content: center;
        align-items: center;
    }

    #location-input-label{
        width: 100vw;
    }
    #radius-input-label{
        width: 100vw;
    }
    .info-item-historics{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info-item-historics label, .info-item-historics input{
        width: 80%;
        min-width: 200px;
        text-align: center;
    }

    
}

@media screen and (max-width:510px){
    #map-container{
        height: 60vh !important;
    }
}



/* Media query para pantallas muy pequeñas */
@media screen and (max-width: 400px) {
    #location-history{
        height: 200px;
        }
    .info-item {
        width: 100%;
        max-width: 150px;
    }


    #title-buttons-and-info {
        margin-bottom: 20px; /* Dar más espacio al contenido */
    }
    .pop-up-menu{
        height: 15vw;
        width: 15vw;
    }
    .pop-up-menu{
        font-size: 100%;
    }
 #close-popup-container p{
    min-width: 40vw !important;
 }
 #close-popup-container h3{
    width: 25px !important;
    height: 25px !important;
 }
 .info-item-historics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-item-historics label, .info-item-historics input{
    width: 80%;
    min-width: 200px;
    text-align: center;
}
}

@media screen and (max-width: 360px) {
    .info-item-historics{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info-item-historics label, .info-item-historics input{
        width: 80%;
        min-width: 200px;
        text-align: center;
    }
    img{
        height: 25px;
        width: 25px;
    }
    h1{
        font-size: 1.5em;
    }

}


#title-buttons-and-info {
    min-height: fit-content;
    margin-bottom: 15px;
}

