* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title-buttons-and-info {
    height: 17vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

#title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#logo {
    object-fit: cover;
    margin-right: 20px;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #e2e2e2;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

h1 {
    color: #6e00b3;
    margin-left: 10px;
}

.tab-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.tab-btn {
    background-color: #6e00b3;
    color: white;
    padding: 5px 10px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 7px;
}

.tab-btn:hover {
    background-color: #4b0082;
}

button:disabled {
    background-color: #2e014f;
    cursor: not-allowed;
}

.tab-content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #fff;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 620px;
    justify-content: center;
    margin-bottom: 0px;
}

.tab-content span, .tab-content label, .tab-content input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #555;
    font-size: small;
}

.tab-content span:nth-child(odd), .tab-content label {
    text-align: left;
}
.tab-content span:nth-child(even), .tab-content input {
    text-align: right;
}

#location-input-label {
    width: 70px;
    flex: auto;
}

#location-input {
    width: 300px;
    flex: auto;
}

#radius-input-label {
    width: 70px;
    flex: auto;
}

#radius-input {
    width: 80px;
    flex: auto;
}

#fetch-data, #fetch-location {
    justify-self: center; 
    padding: 5px 10px;
    background-color: #6e00b3;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#map-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95vw;
    height: 78vh;
}

#map {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#dark-mode-switch {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1001;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #4b0082;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

body.dark-mode {
    background-color: #282828;
    color: #e2e2e2;
}

body.dark-mode h1 {
    color: white;
}

body.dark-mode .tab-content {
    background-color: #1e1e1e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

body.dark-mode #fetch-data,
body.dark-mode #fetch-location {
    background-color: #4b0082;
    color: #fff;
}

body.dark-mode .tab-content span,
body.dark-mode .tab-content label,
body.dark-mode .tab-content input {
    background-color: #333;
    color: #e2e2e2;
}

body.dark-mode .pac-container {
    background-color: #282828;
    color: #EEE;
}
body.dark-mode .pac-item{
    color: #AAA;
    border-top: 1px solid #333;
}
body.dark-mode .pac-item-query {
    color: #EEE;
}
body.dark-mode .pac-item:hover {
    background-color: #333;
    color: #EEE;
}

body.dark-mode #map {
    box-shadow: 0 4px 8px rgba(1, 1, 1, 0.5);
}

body.dark-mode #dark-mode-toggle{
    background-color: #4b0082;
}

body.dark-mode .gm-style .gm-style-iw-d::-webkit-scrollbar-track, 
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece,
.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-t::after,
.gm-style .gm-style-iw-tc::after { 
  background: #282828;

}